<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.terrylam.chariot.base.dao.system.ResourceDao">

    <select id="getAllResourceByRoleId" parameterType="java.lang.Long" resultType="cn.terrylam.chariot.base.entity.system.Resource">
        select r.* from tb_resource r,tb_role_resource rr
        <where>
            rr.role_id = #{roleId}
            and rr.resource_id = r.id
        </where>
    </select>

    <select id="getByType" parameterType="java.lang.Integer" resultType="cn.terrylam.chariot.base.entity.system.Resource">
        select * from tb_resource
        <where>
           type = #{type}
        </where>
        order by sort
    </select>

    <select id="getResourceByParentId" parameterType="java.lang.Long" resultType="cn.terrylam.chariot.base.entity.system.Resource">
        select * from tb_resource
        <where>
             parent_id = #{resourceId}
        </where>
    </select>
</mapper>