<!DOCTYPE html>
<html class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>角色权限配置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/lib/layui/layui.all.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-btn-container">
    <button type="button" class="layui-btn layui-btn-sm" lay-demo="getChecked">修改角色权限</button>
    <button type="button" class="layui-btn layui-btn-sm" lay-demo="reload">重载节点</button>
</div>
<div id="test12" class="demo-tree-more"></div>

<script th:inline="javascript">
    layui.use(['tree', 'util'], function() {
        var tree = layui.tree,
            layer = layui.layer,
            util = layui.util,
            data = JSON.parse([[${data}]]);

        tree.render({
            elem: '#test12'
            ,data: data
            ,showCheckbox: true  //是否显示复选框
            ,id: 'demoId1'
            ,showLine : true
            ,click: function(obj){
                var data = obj.data;  //获取当前点击的节点数据
                /*layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));*/
            }
        });

        //按钮事件
        util.event('lay-demo', {
            getChecked: function(othis){
                var checkedData = tree.getChecked('demoId1'); //获取选中节点的数据
                var ids = [];
                for(index in checkedData){
                    debugger;
                    let menu1 = checkedData[index];
                    ids.push(menu1.id);
                    getChild(menu1,ids);
                }
                $.ajax({
                    url:'/admin/role/roleResouceEdit',
                    data:{
                        'roleId':[[${roleId}]],
                        'resourceIds':ids.join(",")
                    },
                    type:'post',
                    dataType:'json',
                    success:function (data) {
                        layer.msg("修改成功！");
                    }
                });
            }
            ,reload: function(){
                //重载实例
                tree.reload('demoId1', {

                });

            }
        });
    });

    function getChild(data,ids) {
        if (data.children){
            for(index in data.children){
                ids.push(data.children[index].id);
                getChild(data.children[index],ids);
            }
        }
    }
</script>
</body>

</html>