<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>编辑功能信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form"  lay-filter="resourceForm">
            <input type="hidden" name="id" value=0 />
            <div class="layui-form-item">
                <label for="parentId" class="layui-form-label">
                    <span class="x-red">*</span>上级资源
                </label>
                <div class="layui-input-block">
                    <input type="text" id="parentId" name="parentId" required="true" lay-verify="checkParentId" lay-filter="parentIdTree"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>资源名称
                </label>
                <div class="layui-input-block ">
                    <input type="text" id="name" name="name" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="sourceKey" class="layui-form-label">
                    <span class="x-red">*</span>资源唯一标识
                </label>
                <div class="layui-input-block">
                    <input type="text" id="sourceKey" name="sourceKey" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="type" class="layui-form-label">
                    <span class="x-red">*</span>功能类型
                </label>
                <div class="layui-input-block">
                    <select id="type" name="type" required="" lay-verify="required"
                            autocomplete="off" class="layui-select">
                        <option value="0">目录</option>
                        <option value="1">菜单</option>
                        <option value="2">按钮</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="sourceUrl" class="layui-form-label">
                    功能url
                </label>
                <div class="layui-input-block">
                    <input type="text" id="sourceUrl" name="sourceUrl"  lay-verify="checkUrlByType"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
            <label for="level" class="layui-form-label">
                <span class="x-red">*</span>层级
            </label>
            <div class="layui-input-block">
                <input type="number" id="level" name="level" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="sort" class="layui-form-label">
                <span class="x-red">*</span>排序
            </label>
            <div class="layui-input-block">
                <input type="number" id="sort" name="sort" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="icon" class="layui-form-label">
                图标
            </label>
            <div class="layui-input-block">
                <input type="number" id="icon" name="icon"  lay-verify=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="x-red">*</span>是否隐藏
            </label>
            <div class="layui-input-block">
                <select id="isHide" name="isHide" required="" lay-verify="required"
                        autocomplete="off" class="layui-select">
                    <option value="0">显示</option>
                    <option value="1">隐藏</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="description" class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <input type="text" id="description" name="description" required="" autocomplete="off" class="layui-input" />
            </div>
        </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                </label>
                <button  class="layui-btn" lay-filter="save" lay-submit="">
                    保存
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    var init_select_finish=0;
    layui.config({
        base: "/static/lib/layui/lay/modules/"
    }).extend({
        treeSelect: "treeSelect"
    });
    layui.use(['form', 'layer','treeSelect'],
    function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        //初始化树形下拉框
        var treeSelect = layui.treeSelect;
        treeSelect.render({
            // 选择器
            elem: '#parentId',
            // 数据
            data: '/admin/resource/treeResources',
            // 异步加载方式：get/post，默认get
            type: 'get',
            // 占位符
            placeholder: '请选择上级资源',
            // 是否开启搜索功能：true/false，默认false
            search: true,
            // 一些可定制的样式
            style: {
                folder: {
                    enable: false
                },
                line: {
                    enable: true
                }
            },
            // 点击回调
            click: function(d){
            },
            // 加载完成后的回调函数
            success: function (d) {
//                选中节点，根据id筛选
                treeSelect.checkNode('parentIdTree', 0);
                init_select_finish=1;
//             console.log($('#tree').val());
//                获取zTree对象，可以调用zTree方法
//             var treeObj = treeSelect.zTree('tree');
//             console.log(treeObj);
//                刷新树结构
//             treeSelect.refresh('tree');
            }
        });

        //自定义验证规则
        form.verify({
            nikename: function(value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function(value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            },
            checkUrlByType:function(value){
                // debugger;
                if($('#type').val()!='0'){
                    if(!value){
                        return "请输入资源url";
                    }
                }
            },
            checkParentId:function(val){
                var id = $('input[name="id"]').val();
                if(id!=0&&val==id){
                    treeSelect.revokeNode('parentIdTree');
                    return '上级资源不能选择自身';
                }
            }
        });

        //监听提交
        form.on('submit(save)',
            function(data) {
                // console.log(data);
                //发异步，
                $.post('/admin/resource/save',data.field,function(result){
                    if(result.code==0){
                        layer.alert("保存成功", {
                                icon: 6
                            },
                            function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    }else if (result.code==1){
                        layer.alert("保存失败： "+result.msg,{icon:5})
                    }
                });
                return false;
            });
    });
//供父页面传参调用初始化表单
var initData = function (data) {
    layui.use(['form','treeSelect'], function () {
        layui.form.val('resourceForm', {
            createTime: data.createTime,
            description: data.description,
            id: data.id,
            isHide: data.isHide,
            level: data.level,
            name: data.name,
            parentId: data.parentId,
            sort: data.sort,
            sourceKey: data.sourceKey,
            sourceUrl: data.sourceUrl,
            type: data.type,
            updateTime: data.updateTime
        });
        layer.load();

        try{
            layui.treeSelect.checkNode('parentIdTree',data.parentId);
            layer.closeAll('loading');
        }catch(err){
            console.log(err);
            setTimeout(function(){
                layui.treeSelect.checkNode('parentIdTree',data.parentId);
                layer.closeAll('loading');
            },1000);
        }

    });
}

</script>
<script>var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>
