<!DOCTYPE html>
<html class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <title>系统资源列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " id="searchDiv">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="名称" name="name" id="name"></div>
                        <!--<div class="layui-inline layui-show-xs-block">-->
                            <!--<input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start"></div>-->
                        <!--<div class="layui-inline layui-show-xs-block">-->
                            <!--<input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end"></div>-->
                        <!--<div class="layui-inline layui-show-xs-block">-->
                            <!--<input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input"></div>-->
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"lay-filter="sreach" id="searchBtn" data-type="reload">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                </div>
                <!--<div class="layui-card-header">-->
                    <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
                    <!--<button class="layui-btn" onclick="xadmin.open('添加资源','/admin/resource/form',800,650)"><i class="layui-icon"></i>添加</button>-->
                <!--</div>-->
                <div class="layui-card-body ">
                    <table class="layui-table" lay-data="{url:'/admin/resource/list',page:true,id:'table',toolbar:'#toolbar'}" lay-filter="table">
                        <thead>
                        <tr>
                            <th lay-data="{type:'checkbox'}">ID</th>
                            <!--<th lay-data="{field:'id', width:80, sort: true}">ID</th>-->
                            <th lay-data="{field:'name', width:120, sort: true}">资源名称</th>
                            <th lay-data="{field:'sourceKey', minWidth: 150}">资源key</th>
                            <th lay-data="{field:'type', width:70,templet: '#typeTpl'}">类型</th>
                            <th lay-data="{field:'sourceUrl', minWidth: 150}">资源url</th>
                            <th lay-data="{field:'level', sort: true}">层级</th>
                            <th lay-data="{field:'sort', sort: true}">排序</th>
                            <th lay-data="{field:'icon', sort: true}">图标</th>
                            <th lay-data="{field:'isHide', sort: true, width:70 ,templet: '#isHideTpl'}">状态</th>
                            <th lay-data="{field:'createTime', sort: true}">创建时间</th>
                            <th lay-data="{field:'updateTime', sort: true}">更新时间</th>
                            <th lay-data="{fixed: 'right', width:130, align:'center', toolbar: '#barDemo'}"></th>
                        </tr>
                        </thead>
                    </table>
                    <script type="text/html" id="barDemo">
                        <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbar">
    <div class = "layui-btn-container" >
        <button class="layui-btn layui-btn-danger" lay-event = "delCheckData"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="xadmin.open('添加资源','/admin/resource/form',800,650)"><i class="layui-icon"></i>添加</button>
        <!--<button class = "layui-btn layui-btn-sm" lay-event = "getCheckData" > 获取选中行数据 </button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button >-->
        <!--<button class = "layui-btn layui-btn-sm" lay-event = "isAll" > 验证是否全选</button>-->
    </div >
</script>
<script type="text/html" id="typeTpl">
    {{#if(d.type==0 ){}}
        <span class="layui-badge layui-bg-green">目录</span>
    {{#}else if(d.type==1 ){}}
        <span class="layui-badge layui-bg-blue">菜单</span>
    {{#}else if(d.type==2 ){}}
        <span class="layui-badge layui-bg-yellow">按钮</span>
    {{#}}}
</script>
<script type="text/html" id="isHideTpl">
    {{#if(d.isHide==0 ){}}
        <span class="layui-badge layui-bg-green">显示</span>
    {{#}else if(d.isHide==1 ){}}
        <span class="layui-badge layui-bg-gray">隐藏</span>
    {{#}}}
</script>
<!--<script>layui.use('laydate',-->
    <!--function() {-->
        <!--var laydate = layui.laydate;-->

        <!--//执行一个laydate实例-->
        <!--laydate.render({-->
            <!--elem: '#start' //指定元素-->
        <!--});-->

        <!--//执行一个laydate实例-->
        <!--laydate.render({-->
            <!--elem: '#end' //指定元素-->
        <!--});-->

<script>
    layui.use('table',
        function() {
            var table = layui.table;

            var $ = layui.$, active = {
                reload: function(){
                    //执行重载
                    table.reload('table', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                                name:$('#name').val()
                        }
                    },'data');
                }
            };

            $('#searchDiv #searchBtn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //监听单元格编辑
            // table.on('edit(table)',
            //     function(obj) {
            //         var value = obj.value //得到修改后的值
            //             ,
            //             data = obj.data //得到所在行所有键值
            //             ,
            //             field = obj.field; //得到字段
            //         layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
            //     });

            //头工具栏事件
            table.on('toolbar(table)',
                function(obj) {
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'delCheckData':
                            var array = checkStatus.data;
                            var ids=[];
                            for(var i =0;i<array.length;i++){
                                ids.push(array[i].id);
                            }
                            // layer.alert(JSON.stringify(ids));
                            $.ajax({
                                url:'/admin/resource/deleteBatch',
                                // data:JSON.stringify({ids:ids}),
                                data:{ids:ids},
                                // dataType:'json',
                                type:'post',
                                success:function (data) {
                                    layer.msg('删除成功', {icon: 6});
                                    table.reload('table');
                                },
                                error:function (err) {
                                    layer.msg('删除失败', {icon: 5});
                                }
                            });
                            break;
                        // case 'getCheckData':
                        //     var data = checkStatus.data;
                        //     layer.alert(JSON.stringify(data));
                        //     break;
                        // case 'getCheckLength':
                        //     var data = checkStatus.data;
                        //     layer.msg('选中了：' + data.length + ' 个');
                        //     break;
                        // case 'isAll':
                        //     layer.msg(checkStatus.isAll ? '全选': '未全选');
                        //     break;
                    };
                });

            //监听工具条
            table.on('tool(table)', function(obj){
                var data = obj.data;
                if(obj.event === 'detail'){
                    layer.msg('ID：'+ data.id + ' 的查看操作');
                } else if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        let id = obj.data.id;
                        // obj.del();
                        $.ajax({
                            url:'/admin/resource/delete/'+id,
                            data:data,
                            dataType:'json',
                            type:'post',
                            success:function (data) {
                                layer.msg('删除成功', {icon: 6});
                                table.reload('table');
                            },
                            error:function (err) {
                                layer.msg('删除失败', {icon: 5});
                            }
                        });
                        return true;
                    });
                } else if(obj.event === 'edit'){
                    var index = layer.open({
                        type: 2,
                        area: [800+'px', 650 +'px'],
                        fix: false, //不固定
                        maxmin: true,
                        shadeClose: true,
                        shade:0.4,
                        title: "编辑",
                        content: '/admin/resource/form',
                        success:function(layero,index){
                            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                            // iframeWin.layui.use(['form'],function(){layui.form.val('resourceForm',{name:'name'});});
                            iframeWin.initData(data);
                        }
                    });
                    // layer.alert('编辑行：<br>'+ JSON.stringify(data))

                }
            });
        });
</script>
<!--});</script>-->

</html>